<!doctype html>
<html lang="en">

<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <title th:include=":: #title">PSShow</title>
</head>

<body class="d-flex flex-column h-100" th:fragment="body">

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">PSShow</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/movies/">Movies</a>
        <a class="p-2 text-dark" href="/series/">TV Series</a>
        <a class="p-2 text-dark" href="/actors/">Actors</a>
    </nav>
</div>

<!-- Begin page content -->
<main class="flex-shrink-0" role="main">
    <div class="container" th:include=":: #content">
    </div>
</main>
</body>

</html>
